[Desktop Entry]
Encoding=UTF-8
Name=i3Pager
Comment=i3 Pager
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Christian duvholt
X-KDE-PluginInfo-Email=christian@duvholt.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.I3Pager
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
