BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: false
BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true